.stats-grid:first-child::before {
    content: "🔥";
    font-size: 30px;
}

/*/First Edit*/

.stats-grid:last-child {
    background-color: #6D68CB;
    background: linear-gradient(90deg,rgba(109, 104, 203, 1) 0%, rgba(87, 199, 165, 1) 100%, rgba(237, 221, 83, 1) 100%);
}

.stats-grid:nth-of-type(3)>.stat-number,
.stats-grid:nth-of-type(3)>.stat-label {
    color: white;
}

/*/Second Edit*/

.stats-grid:hover {
    box-shadow: 5px 5px 5px #000;
    transform: translateY(-5px);
    position: relative;
}

/*/Thirt Edit*/

.workout-plan:nth-last-of-type(even) {
    background-color: #FFF8BA;
    border-left: 4px solid #F39707;
}

/*/Fourth Edit*/

.exercise-item:first-child,
.exercise-item:last-child {
    border-left: 4px solid #2ACB6E;
    background-color: #F0FFF4;
}

/*/Fifth Edit*/

.exercise-item:nth-child(2) .exercise-name::before, 
.exercise-item:nth-child(4) .exercise-name::before {
    content: "⚡";
}

/*/Sixth Edit*/

input:hover,
select:hover {
    box-shadow: 5px 5px 5px rgb(36, 36, 108);
    position: relative;
    border-color: rgb(36, 36, 108);
    outline: none;
}

/*/Seventh&Eighth Edit*/

.save-btn:hover {
    box-shadow: 5px 5px 5px rgb(36, 36, 108);
    background-color: rgb(6, 7, 44);
    transform: translateY(-2px);
}

/*/Ninth Edit*/

.progress-fill::after {
    content: "65%";
    color: white;
    position: absolute;
    right: 0;
    left: 90%;
    font-size: 11px;
    top: -3px;
}

/*/Tenth Edit*/
a:hover,
a:first-child {
    background-color: rgb(6, 7, 44);
}

/*/Eleventh&Twelfth Edit*/

.quote-box::before {
    content:"\F6B0";
    position:absolute;
    left: 20px;
    top: 5%;
}

.quote-box::after {
    content:"\F6B0";
    position:absolute;
    right: 20px;
}

/*/Thirteenth Edit*/